:root{
    --urlNavbarBackground: url('/img/HEADER_CONGRESO.jpg')
}


.navbarCongress{
    width: 100vw;
    padding: 20px;
    background-image: var(--urlNavbarBackground);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 25% 30%;
    justify-items: end;
    align-items: center;
}

.logosContainerHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    width: 100%;
    flex-wrap: wrap;
}

.navbarCongress img.logoHeader{
    width: 100px;
}

.navbarCongress img.logoCongress{
    width: 280px;
}

@media screen and (max-width:1492px) {

    .navbarCongress{
        padding-bottom: 10px;
    }

    .navbarCongress img.logoHeader{
        width: 90px;
    }
    
    .navbarCongress img.logoCongress{
        width: 250px;
    }
   
}

@media screen and (max-width:1290px) {

    .navbarCongress{

        padding-bottom: 0px;
    }

    .navbarCongress img.logoHeader{
        width: 80px;
    }

    
   
}


@media screen and (max-width:1024px) {

    .navbarCongress{
        grid-template-columns: 25% 30%;
    }
    
}




@media screen and (max-width:910px) {

    .navbarCongress{
        grid-template-columns: 30% 40%;
        padding: 7px;
        padding-top: 30px;
        background-size: cover;
    }

    .navbarCongress img.logoHeader{
        width: 70px;
    }

    .navbarCongress img.logoCongress{
        width: 220px;
    }
}




@media screen and (max-width:568px) {
    .navbarCongress img.logoCongress{
        width: 120px;
    }
    .navbarCongress img.logoHeader{
        width: 50px;
    }
}


@media screen and (max-width:320px) {
    .navbarCongress img.logoCongress{
        width: 100px;
    }
    .navbarCongress img.logoHeader{
        width: 40px;
    }
}